.page-nav
    padding: 0.5rem 0
    text-align: center
    background-color: #ffffff
    border: 1px solid #dddddd
    .prev
    .next
    .page-number
        padding: 0.1rem 0.5rem
    .prev
        float: left

    .next 
        float: right
    a
        columns #777777
        text-decoration: none
        &:hover 
            color: #368CCB 